.Post-Card:hover {
  transform: translateY(-25px);
}

.blog-post h2{
  margin-top: 32px;
  font-size: 2.25rem;
  font-weight: 600;
}

.blog-post h3{
  margin-top: 32px;
  font-size: 1.75rem;
  font-weight: 600;
}


.blog-post h4{
  margin-top: 32px;
  font-size: 1.25rem;
  font-weight: 600;
}

.blog-post p {
  margin-top: 20px;
}

.blog-post a {
  color: #e05151;
}

.blog-post a:hover {
  color: black;
}
